body {
  font-family: "Lexend Deca", sans-serif;
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
  background-color: hsl(0, 0%, 95%);
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* LAYOUT */

header{
  background: hsl(179, 100%, 13%);
  display:flex;
  padding:1em;
}

nav{
  justify-content: space-between;
  margin: auto;
}

nav > a{
  margin: 0 30px;
  text-decoration:none;
  color: hsla(0, 0%, 100%, 0.75);
}

.main-section {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  margin: 3em auto;
}

.container {
  width: 70%;
  max-width: 400px;
  padding: 2rem;
  margin: 0 auto;
  margin-bottom: 2em;
  border-radius: 8px;
}

.container1 {
  background-color: hsl(31, 77%, 52%);
 
}

.container2 {
  background-color: hsl(184, 100%, 22%);
}

.container3 {
  background-color: hsl(179, 100%, 13%);
}

/* -------TYPOGRAPHY------- */

.first_paragraph {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1rem;
}

.heading {
  color: hsl(0, 0%, 95%);
  font-size: 1.8rem;
  font-weight: 700px;
  letter-spacing: -2px;
}

/* STYLE */

.button {
  background-color: hsl(0, 0%, 95%);
  width: 120px;
  height: 35px;
  padding: 0.2rem;
  margin-top: 40px;
  border: none;
  font-family: inherit;
  border-radius: 60px;
  font-weight: bold;
  cursor: pointer;
}

.button1 {
  color: hsl(31, 77%, 52%);
}

.button2 {
  color: hsl(184, 100%, 22%);
}

.button3 {
  color: hsl(179, 100%, 13%);
}

.button:hover {
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.button1:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

.button2:hover {
  background-color: hsl(184, 100%, 22%);
}

.button3:hover {
  background-color: hsl(179, 100%, 13%);
}

/* RESPONSIVENESS AND MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .main-section {
    display: flex;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    flex-direction: row;
    height: 100vh;
    align-items: center;
  }
  .container {
    width: 30%;
    margin: 0 auto;
    height: 362px;
  }
  .container1 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 5px 0 3px hsl(184, 100%, 22%);
  }
  .container2 {
    box-shadow: 5px 0 3px hsl(179, 100%, 13%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

  }
 
}
